.header--container {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  display: flex;
  align-items: center;
  padding: .5rem 1.5rem
}


.header--img {
  width: 2.6rem;
  margin-right: .5rem
}


.header--title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.12969rem;
  margin-right: auto;
}


.header--h4 {
  text-align: right;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

main {
  padding: 5rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 2rem;
}

.form--label {
  margin-bottom: 10px;
  font-weight: 600;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  height: 2.5rem;
  width: 100%;
}

.form--button {
  grid-column: span 2;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  height: 3rem;
}