.header--container {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  display: flex;
  align-items: center;
  padding: .5rem 1.5rem
}


.header--img {
  width: 2.6rem;
  margin-right: .5rem
}


.header--title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.12969rem;
  margin-right: auto;
}


.header--h4 {
  text-align: right;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}